.slide.section#Introduction
  
  %h1 Avoiding and Fixing Rails AntiPatterns

  %h3 Presented by

  %h2 Chad Pytel & Tammer Saleh

.slide

  %h1 Chad Pytel
  %h2 http://thoughtbot.com
  %h3 Founder of Thoughtbot
  %h3 Author of Pro ActiveRecord

.slide

  %h1 Tammer Saleh 
  %h2 http://tammersaleh.com
  %h3 Consultant & ex-Thoughtbotter
  %h3 Original author of Shoulda
  %h3 Original project manager for Hoptoad

.slide

  = image_tag "/images/antipatterns-cover.jpg", :height => "75%"
  
.slide.section#Outline

  %h1 The War
  %h1 Overall Strategy
  %h1 Tactics in the Field

