.slide.section#Introduction
  
  %h1 You're Doing it Wrong

  %h3 Presented by

  %h2 Chad Pytel & Tammer Saleh

.slide

  %h1 Chad Pytel
  %h2 http://thoughtbot.com
  %h3 ...Founder of Thoughtbot
  %h3 ...author of Pro ActiveRecord
  %h3 ...co-author of Rails Antipatterns

.slide

  %h1 Tammer Saleh 
  %h2 http://tammersaleh.com
  %h3 ...Consultant & ex-Thoughtbotter
  %h3 ...original author of Shoulda
  %h3 ...original project manager for Hoptoad
  %h3 ...co-author of Rails Antipatterns

.slide.section#Outline

  %h1 The War
  %h1.inc Overall Strategy
  %h1.inc Tactics in the Field

