.slide.section#Introduction
  
  %h1 You're Doing it Wrong

  %h3 Presented by

  %h2 Chad Pytel & Tammer Saleh

.slide

  %h1 Another slide

  %h3.inc These fade in
  %h3.inc Because they have class <tt>.inc</tt>
  
.slide.section#Some_Section

  %h1 This is a section.

  %h3 Press the <tt>?</tt> key.
  
