.slide.section#Overall_Strategy

  %h1 Overall Strategy

.slide.subsection#Small_Chunks

  %h1 Small Chunks

.slide.subsection#Communication

  %h1 Communication

.slide.subsection#Visibility

  %h1 Visibility

.slide.subsection#Integration_Tests

  %h1 Integration Tests

.slide.subsection#Balance_of_refactorings_with_features
  .background bill-dan-balanced-rocks.jpg

  %div
    %h1 Balance of refactorings with features

    %h4 (Bill Dan)
