.slide.section#Views

  %h1 Views

.slide

  %h1 Poorly Structured HTML

.slide

  %h1 Know Your Helpers
  %h3 And Know How They Change

.slide

  :htmlcode
    <div class="post">
      <h2>Title</h2>
      <div class="body">
        <%= @post.body %>
      </div>
      <ol class="comments">
        <% @post.comments.each do |comment| %>
          <li class="comment">
            <%= comment.body %>
          </li>
        <% end %>
      </ol>
    </div>

.slide

  .small
    :htmlcode
      <div class="post" id="post_<%= @post.id %>">
        <h2>Title</h2>
        <div class="body">
          <%= @post.body %>
        </div>
        <ol class="comments">
          <% @post.comments.each do |comment| %>
            <li class="comment" id="comment_<%= comment.id %>">
              <%= comment.body %>
            </li>
          <% end %>
        </ol>
      </div>

.slide

  %h2 div_for

.slide

  :htmlcode
    <% div_for @post do %>
      <h2>Title</h2>
      <div class="body">
        <%= @post.body %>
      </div>
      <ol class="comments">
        <% @post.comments.each do |comment| %>
          <li class="comment" id="comment_<%= comment.id %>">
            <%= comment.body %>
          </li>
        <% end %>
      </ol>
    <% end %>

.slide

  %h2 content_tag_for

.slide

  :htmlcode
    <% div_for @post do %>
      <h2>Title</h2>
      <div class="body">
        <%= @post.body %>
      </div>
      <ol class="comments">
        <% @post.comments.each do |comment| %>
          <% content_tag_for comment do %>
            <%= comment.body %>
          <% end %>
        <% end %>
      </ol>
    <% end %>

.slide

  %h2 render

.slide
  
  %h3 <tt>posts/index.html.erb</tt>
  .small
    :htmlcode
      <% @posts.each do |post| -%>
        <h2><%=h post.title %></h2>
        <%= format_content post.body %>  
        <p>
          <%= link_to 'email', mail_to(post.user.email) %>
        </p>
      <% end -%>
  
.slide
  
  %h1 Move the post content to a partial
  
.slide
  
  %h3 <tt>posts/index.html.erb</tt>
  .small
    :htmlcode
      <% @posts.each do |post| -%>
        <%= render :partial => 'post', :object => :post %>
      <% end -%>
    
  %h3 <tt>posts/_post.erb</tt>
  .small
    :htmlcode
      <h2><%=h post.title %></h2>
      <%= format_content post.body %>
      <p>
        <%= link_to 'email', mail_to(post.user.email) %>
      </p>
  
.slide
  
  %h1 Looping was built into render
  
.slide
  
  %h3 <tt>posts/index.html.erb</tt>
  .small
    :htmlcode
      <%= render :partial => 'post', :collection => @posts %>
    
  %h3 <tt>posts/_post.erb</tt>
  .small
    :htmlcode
      <h2><%=h post.title %></h2>
      <%= format_content post.body %>
      <p>
        <%= link_to 'email', mail_to(post.user.email) %>
      </p>
  
.slide

  %h1 But there is duplication and common naming here

.slide

  :htmlcode
    <%= render :partial => @posts %>

.slide

  :htmlcode
    <%= render @posts %>

.slide

  %h1 Workshop
  %h2 Clean Up the Views
  %h3 Use content_tag_for, div_for, content_for, and render to clean up the views

.slide

  %h1 Solution
  %h2 Clean Up the Views

.slide

  %h2 render
  :htmlcode
    <!-- app/views/articles/index.html.erb -->
    <%= render @articles %>

.slide

  %h2 render
  .small
    :htmlcode
      <!-- app/views/articles/_article.html.erb -->
      <% content_tag_for :tr, article do %>
        <td><%=h article.title %></td>
        <td><%=h article.body %></td>
        <td><%=h article.state %></td>
        <td><%=h article.category %></td>
        <td class="action"><%= link_to 'View', article %></td>
        <td class="action"><%= link_to 'Edit', edit_article_path(article), :class => "yellow" %></td>
        <td class="action"><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete, :class => "red" %></td>
      <% end %>

.slide

  %h2 content_for
  .small
    :htmlcode
      <% content_for :page_title, "Articles" %>
        <title>
          AntiPatterns Workshop 
          <% if yield(:page_title) %>: <%= yield(:page_title) %><% end %>
        </title>

    :htmlcode
      <% content_for :sidebar do %>
        <%= link_to 'New article', new_article_path, :class => "blue" %>
      <% end %>

.slide

  %h2 content_for
  .small
    :htmlcode
      <h1><%= yield :page_title %></h1>
      <div class="main<%= ' with_sidebar' if yield(:sidebar) %>">
        <%= yield %>
      </div>
      <div class="sidebar">
        <%= yield :sidebar %>
      </div>

.slide

  %h2 div_for
  .small
    :htmlcode
      <% div_for @article do %>
        <div class="body">
          <%=h @article.body %>
        </div>
