.slide.section#The_War

  %h1 The War

.slide.subsection#The_Lay_of_the_Land

  %h1 Lay of the Land

.slide.subsection#15_Minute_Code_Review

  %h2 Are you in a rescue mission?

  %h3 Or...

  %h1 The 15 minute code review

.slide
  %h1 <em>1:</em> Models

  = image_tag "/images/headless_female_mannequins.jpg"

.slide

  %h3 Non-RESTful controllers
  %h3 Pseudo-validations in create actions
  %h3 Monolythic controllers
  %h3 Custom authentication

.slide

  %h1 <em>2:</em> Controllers

.slide

  %h3 Non-RESTful controllers
  %h3 Pseudo-validations in create actions
  %h3 Monolythic controllers
  %h3 Custom authentication

.slide

  %h1 <em>3:</em> Views

.slide

  %h1 <em>4:</em> Libraries

.slide.section#Causes

  %h1 How did the project get here?
  %h2 Technical, process, or personal reasons?

.slide

  %h1 Technical reasons

.slide

  %h2 Poor developers?

.slide

  %h2 Hard technical problems?

.slide

  %h2 Lack of constant refactoring?

.slide

  %h2 Technical Debt

.slide

  %h1 Non-technical reasons

.slide

  %h2 Process?

.slide

  %h2 Personality?

.slide

  %h2 Lack of focus on quality?

.slide

  %h2 Arbitrary deadlines?

.slide.subsection#The_Big_Question

  %h3 The <em>Big</em> Question:
  %h1.inc Should you take this project?

.slide

  %h2 Are the technical issues surmountable?  Are the bad developers still there?

.slide

  %h2 If there are non-technical issues, do you really believe you can fix them?

.slide

  %h2 Visibility:  If this works, will the client likely send me other good clients?  If this fails, will it have my name all over it?

.slide

  %h2 How much should I charge?

.slide.subsection#Objectives

  %h1 Objectives

.slide

  
  %h2 Un-fuck the codebase.

.slide

  %h2 Train the client.

.slide

  %h2 Fix the process.
